<html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div>
    <div class="page-header" style="margin-bottom: 20px">
        <h1 class="text-center">接口测试平台</h1>
    </div>
    <div style="margin-top: 100px">
        <h2 class="text-center"><a  href="/get/">GET接口测试</a></h2><br>
        <h2 class="text-center"><a class="text-center" href="/post/">POST接口测试</a></h2><br>
        <h2 class="text-center"><a class="text-center" href="/excel/">数据驱动测试</a></h2><br>
    </div>
</div>

</body>
</html>